.font-bold{
color: #e90404;

}
/* Mobile View (Phone) */
@media (max-width: 768px) {

    /* Menu items in mobile are stacked vertically */
    .menu-list {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        z-index: 1000;
        box-shadow: 0 4px 2px -2px gray;
        margin: 0;
    }

    /* Mobile Menu Toggle Button */
    .th-menu-toggle {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1001;
        /* Ensure it stays on top */
        background: transparent;
        border: none;
        font-size: 28px;
        color: white;
        cursor: pointer;
    }

    /* Mobile Menu */
.mobile-menu {
    position: fixed;
    top: 80;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: block;
    z-index: 1000;
    height: 90vh;
    
overflow-y: scroll;
    scrollbar-width: none;

    -ms-overflow-style: none;

   
}
.mobile-menu::-webkit-scrollbar {
    display: none;
   
}
    /* Style for each menu item */
    .menu-list li {
        padding: 15px;
        border-bottom: 1px solid #ccc;
        font-size: 16px;
        color: black;
    }

    .menu-list a {
        text-decoration: none;
        color: black;
    }

    .menu-list a:hover {
        color: #67676b;
    }
}