/* Overall dots container */
.slick-dots {
    bottom: -30px;
    /* Position below the carousel */
    display: flex !important;
    justify-content: center;
    padding: 0;
    margin: 0;
}

/* Remove default list styles and add spacing */
.slick-dots li {
    margin: 0 8px;
    list-style: none;
}

/* Dot buttons styling */
.slick-dots li button {
    width: 12px;
    height: 12px;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
}

/* Dot appearance */
.slick-dots li button:before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-color: #000;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 20px;
}

/* Active dot styling */
.slick-dots li.slick-active button:before {
    background-color: #ebebeb;
    transform: scale(1.2);
    box-shadow: none;
}

/* Hover effects */
.slick-dots li button:hover:before {
    background-color: #555;
    transform: scale(1.1);
}

/* Responsive adjustments */
@media (max-width: 576px) {
    .slick-dots li button:before {
        width: 8px;
        height: 8px;
        background-color: #000;
    }

    .slick-dots li.slick-active button:before {
        background-color: #ebebeb;
        transform: scale(1);
    }

    .slick-dots li button:hover:before {
        background-color: #555;
    }
}