/* Global styles for the university list container */
.ourcampus-list-container {
    padding: 20px;
    margin-top: 20px;
}

/* Grid layout for the university list */
.ourcampus-list {
    padding-top: 20px;
}

/* Card styles */
.ourcampus-card {
    height: 350px;
    /* Set a fixed height for the card */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.ourcampus-card:hover {
    transform: scale(1.05);
}

/* Image styles inside the card */
.ourcampus-card .MuiCardMedia-root {
    border-radius: 10px 10px 0 0;
    height: 200px;
    /* Set a fixed height for the image */
    object-fit: cover;
    /* Ensure the image covers the area without distortion */
}

/* University name styles */
.ourcampus-university-name {
    font-weight: bold;
    font-size: 1.2rem;
}

/* University location styles */
.ourcampus-university-location {
    font-size: 0.9rem;
    color: #757575;
    margin-top: 5px;
}

/* University description styles with truncation */
.ourcampus-university-description {
    font-size: 0.9rem;
    color: #757575;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Limit to 3 lines */
    -webkit-box-orient: vertical;
    height: 60px;
    /* Adjust the height to match the line clamp */
    margin-top: 10px;
}

/* Loading spinner styles */
.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Error message styles */
.error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: red;
}